
.checkout-chart-box {
    position: absolute;
    top:20px;
    left: 20px;
    bottom: 20px;
    width: 60%;
    overflow:hidden;
}

.recent-checkout-box {
    position: absolute;
    top:20px;
    right: 20px;
    width: 35%;
    height: 44%;
    overflow:hidden;
}

.item-count-warning-box {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35%;
    height: 44%;
    overflow:hidden;
}

.checkout-chart-box, .recent-checkout-box, .item-count-warning-box {
    border: 1px solid #ddd;
}

.title {
    margin: 0;
    padding: 2px 5px;
    font-size: 1em;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.recent-checkout, .item-count-warning {
    padding: 20px 20px;
    font-size: 14px;
    overflow: hidden;
}

/*最近出库记录模块,库存预警模块*/
.recent-checkout-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.item-warning-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 14px;
    color:orangered;
}

.item-td, .conten-td {
    padding: 2px 0;
    border-bottom: 1px solid #B2CBD6;
}
