 html, body{
     margin: 0;
     padding: 0;
 }

/*遮罩层*/
#shadeBox{

    background-color: #FFF;
    opacity: 0.5;
    position: absolute;
    top:0;
    left: 0;
    z-index: 5;
}

#bodyBox{
    width: 80%;
    margin: 3% auto;
}
/*-------------search start----------------*/
#searchBox{
    width: 100%;
    height: 80px;
    padding-bottom: 5px;
    border-bottom: 1px solid #6D8EA0;
}

#warehouseP{
    height: 30px;
}

#searchItemIDInput{
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

#itemNameSpan{
    margin-left: 20px;
}

#searchItemNameSelect{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
}

#searchItemNameInput{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

#searchButton{
    position: relative;
    left: 10px;
}
/*-------------search end----------------*/

#resultBox{
    position: relative;
    top: 0px;
    width: 100%;
    height: 70%;

}

/*-------------item menu start-----------*/
#itemMenuBox{
    width: 300px;
    overflow: hidden;
    padding: 0;

    float: left;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 200px;
    overflow: hidden;
}

ul{
    margin-bottom: 5px;
}

li{
    margin-top: 5px;
}

#itemMenuDiv span{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #FFF;
    border-bottom: 1px solid #6D8EA0;
}

#itemMenuDiv span:hover{
    background-color: #00D9C0;
    transition: background-color 0.3s;
}

.item-menu-background-color{
    background-color: #6D8EA0 ;
    transition: background-color 0.3s;
}

.current-selected-menu-background-color{
    background-color: #FF4365;
    transition: background-color 0.3s;
}

.current-selected-sub-menu-background-color{
    background-color: #777;
}
/*-------------item list start-----------*/
#itemDetailBox {

    float: left;
}

button{
    width:100px;
    height: 30px;
    border: none;
    background-color: #00BFFF;
    color: #FFF;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #5CD6FF;
    transition: background-color 0.3s;
}

button:active {
    position: relative;
    top:1px;
}
