/*弹出层位置*/
.poplayer{
    width: 700;
    height: 400px;
    position: relative;
    margin: -30% auto;
    z-index: 10;
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px #000;
    border-radius: 5px;
}

/*标题*/
.popLayerTitle{
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px 5px 0 0;
    border-bottom:1px solid #444;
    background-color: #59B5C1;
    font-size: 1.1em;
}

/*右上角关闭*/
.close-poplayer{
    display: block;
    float: right;
    padding-bottom: 5px;
    width: 30px;
    font-size: 1.5em;
    text-align: center;
    color: #000;
}

.close-poplayer:hover{
    font-weight: bold;
    color: red;
    cursor: pointer;
}

/*内容显示位置*/
.content-wrapper{
    width: 400px;
    margin: 50px auto;
}

.labelStyle{
    display: block;
    margin-top: 30px;
    width: 400px;
}


#checkOutPopLayer input{
    width: 150px;
    height: 25px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

.item-name-span{
    margin-left: 45px;
}

.item-count-input, .consumer-code-input , .computer-barcode-input{
    margin-left: 40px;
}

.item-sn-input{
    margin-left: 25px;
}

#confirmCheckoutButton{
    margin-top: 30px;
    margin-left:300px;
}

