 html, body{
     margin: 0;
     padding: 0;
 }

*{
    font: 14px/20px Arial,"Microsoft YaHei",sans-serif;
}
/*遮罩层*/
#shadeBox{

    background-color: #444;
    opacity: 0.5;
    position: absolute;
    top:0;
    left: 0;
    z-index: 5;
}

#bodyBox{
    /*
    width: 80%;
    margin: 3% auto;
    */
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
/*-------------search start----------------*/
#searchBox{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #6D8EA0;
}

#warehouseP{
    margin: 0;
    padding: 0;
    height: 30px;
}

#searchWarehouseNameSpan{
    margin-left: 10px;
}

#searchItemIDInput{
    margin-left: 20px;
    width: 80px;
    height: 25px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

.item-name-span{
    margin-left: 20px;
}

#searchItemNameSelect{
    margin-left: 20px;
    width: 150px;
    height: 25px;
    border: 1px solid #444;
    border-radius: 3px;
}

#searchItemNameInput{
    margin-left: 20px;
    width: 150px;
    height: 25px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

#searchButton{
    position: relative;
    left: 10px;
}
/*-------------search end----------------*/

#resultBox{
    position: relative;
    top: 10px;
    width: 100%;
    height: 70%;

}

/*-------------item menu start-----------*/
#item-menu-wrap{
    margin-top: 17px;
    padding: 0;
    float: left;
    width: 200px;
    overflow: hidden;

}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 200px;
    overflow: hidden;
}

ul{
    margin-bottom: 5px;
}

li{
    margin-top: 5px;
}

#itemMenuDiv span{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #FFF;
    border-bottom: 1px solid #6D8EA0;
}

#itemMenuDiv span:hover{
    background-color: #00BFFF;
    transition: background-color 0.3s;
}

.item-menu-background-color{
    background-color: #6D8EA0 ;
    transition: background-color 0.3s;
}

.current-selected-menu-background-color{
    background-color: #00BFFF;
    transition: background-color 0.3s;
}

.current-selected-sub-menu-background-color{
    background-color: #FFA0A1;
}
/*-------------item list start-----------*/
#itemDetailBox {
    position: absolute;
    left: 220px;
    right: 0;
    float: left;
}

/*-----------------table-------------------*/
.show-detail-table{
    width: 100%;
    border-collapse: collapse;
}

.td-title{
    border-bottom: 2px solid #6D8EA0;
}

.warehouse-column, .count-column, .action-column{
    text-align: center;
}

.code-column{
    width: 150px;
    text-align: right;
}

.name-column{
    padding-left: 200px;
    text-align: left;
}

.warehouse-column, .count-column {
    padding-right: 100px;
}

.action-column{
    width: 100px;
}

.td-content{
    border-bottom: 1px dotted #6D8EA0;
}

.odd-row{
    background-color: #eee;
}

.even-row{
    background-color: #ddd;
}

.odd-row:hover{
    background-color: #9CBDE1;
}

.even-row:hover{
    background-color: #9CBDE1;
}
/*-----------------table-------------------*/

button{
    width:100px;
    height: 25px;
    border: none;
    background-color: #00BFFF;
    color: #FFF;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #5CD6FF;
    transition: background-color 0.3s;
}

button:active {
    position: relative;
    top:1px;
}
