#editBox{
    width: 700;
    height: 400px;
    position: relative;
    margin: -30% auto;
    z-index: 10;
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px #000;
    border-radius: 5px;
}

/*标题*/
.popLayerTitle{
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px 5px 0 0;
    border-bottom:1px solid #444;
    background-color: #59B5C1;
    font-size: 1.1em;
}

/*右上角关闭*/
.close-poplayer{
    display: block;
    float: right;
    padding-bottom: 5px;
    width: 30px;
    font-size: 1.5em;
    text-align: center;
    color: #000;
}

.close-poplayer:hover{
    font-weight: bold;
    color: red;
    cursor: pointer;
}

#editBoxContent{
    position: absolute;
    top:10%;
    left: 20%;

}

.labelStyle{
    display: block;
    width: 500px;
    height: 30px;
    margin-top: 20px;
}

#itemNameInput, #itemCountInput{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

#classSelect, #warehouseSelect{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 3px;
}

#currentCountSpan{
    margin-left: 30px;
}

#tips{
    margin-left: 30px;
    color: orangered;
}

#saveButton{
    position: relative;
    top: 30px;
    left: 300px;
}

