.poplayer{
    width: 60%;
    height: 400px;
    position: absolute;
    top:15%;
    left: 20%;
    z-index: 10;
    background-color: #FFF;

    box-shadow: 1px 1px 10px 1px #000;
    border-radius: 5px;
}
