/*遮罩层*/
#shadeBox{

    background-color: #555;
    opacity: 0.5;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

#editBox{
    width: 50%;
    height: 300px;
    position: absolute;
    top:20%;
    left: 25%;
    z-index: 10;
    background-color: #FFF;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #000;
    border-radius: 5px;
}
