/*弹出层位置*/
.poplayer{
    width: 60%;
    height: 400px;
    position: absolute;
    top:15%;
    left: 20%;
    z-index: 10;
    background-color: #FFF;

    box-shadow: 1px 1px 10px 1px #000;
    border-radius: 5px;
}

/*右上角关闭*/
.close-poplayer{
    float: right;
    width: 30px;
    height: 25px;
    margin-top: 2px;
    margin-right: 2px;
    line-height: 25px;
    font-size: 1.5em;
    text-align: center;
}

.close-poplayer:hover{
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.labelStyle{
    display: block;
    margin-top: 20px;
    width: 300px;
    background-color: red;
}

