
*{
    font: 14px/20px Arial,"Microsoft YaHei",sans-serif;
}

/*------search-----*/
.search-box {
    padding: 5px 0;
    height: 21px;
    background-color: #FFF;
    overflow: hidden;
}

.search-more-box {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 20px;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #AAA;
}

.search-more-content {
    display: inline-block;
    margin-top: -1px;
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #AAA #AAA #AAA;
    color: #666;
    cursor: pointer;
    font-size: 14px;
}

.search-more-content:hover {
    color:red
}

.arrow {
    display: inline-block;
    position: relative;
    top:4px;
    left: 5px;
    width: 16px;
    height: 16px;
    background-image: url(../icon/arrow-grey-down.png);
    background-repeat: no-repeat;
    background-position: center;
}

.search-subbox {
    float: left;
}

.labelStyle {
    background-color: #FFF;
    display: block;
    margin-bottom: 5px;
    width: 230px;
    height: 24px;
    line-height: 24px;
    text-align: right;
}

.search-box input {
    padding: 1px 2px;
    width: 130px;
    height: 20px;
    border: 1px solid #888;
    border-radius: 3px;
}

.search-type {
    padding-left: 40px;
    width: 136px;
    height: 24px;
    border: 1px solid #888;
    border-radius: 3px;
}

.search-button {
    margin-left: 50px;
    width: 80px;
    height: 25px;
    border: none;
    background-color: #00BFFF;
    color: #FFF;
    border-radius: 5px;
}

.search-button:hover {
    cursor: pointer;
    background-color: #5CD6FF;
}

.search-button:active {
    position: relative;
    top:1px;
}

.reset-button {
    margin-left: 200px;
    background-color: #444;
    color: #FFF;
}

.reset-button:hover {
    background-color: #666;
}
/*-----table------*/
.result-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

.table-head th{
    border-bottom: 2px solid #B2CBD6;
}

.td-content{
    border-bottom: 1px solid #B2CBD6;
    padding: 5px 0;
}

.type-column {
    width: 
}

.name-column {
    text-align: left;
    padding-left: 10px;
}

.odd-row {
    background-color: #F8F8F8;
}

.odd-row:hover, .even-row:hover {
    background-color: #F1F1F1;
}

/*---------底部分页页码样式-----------*/
.pageBox {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    height: 25px;
}

.pageBox span {
    float: left;
    padding:1px 4px;
    margin: 0 3px;
    line-height: 25px;
    text-align: center;
}

.previous-page, .next-page {
    width: 50px;
    border: 1px solid #000;
}

.current-page {
    width: 25px;
    color: #888;
    border: 1px solid #FFF;
}

.first-page, .subpage, .final-page {
    width: 25px;
    border: 1px solid #000;
}

.previous-page:hover, .next-page:hover, .first-page:hover, .subpage:hover, .final-page:hover {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 0px 1px 1px #ccc;
}

.ellipsis {
    width: 25px;
    border: 1px solid #FFF;
}

.page-tips {
    border: 1px solid #FFF;
}

/*------处理类型状态样式------*/
.out, .in , .other {
    display: block;
    width: 50px;
    height: 20px;
    margin: 0 auto;
    border-radius: 5px;
    color: #FFF;
}

.out {
    background-color: #F46036;
}

.in {
    background-color: #1B998B;
}

.other {
    background-color: #4D5061;
}
