html,body{
    margin: 0;
    padding: 0;
 }

*{
    font: 14px/20px Arial,"Microsoft YaHei",sans-serif;
}

.reset-pwd-box{
    width: 311px;
    margin: 6% auto;
}

label{
    display: block;
    width: 310px;
    height: 25px;
    line-height: 25px;
    margin-top: 30px;
}

input{
    float: right;
    width: 150px;
    height: 25px;
    border: 1px solid #444;
    border-radius: 3px;
    padding:0 5px;
}

.tips-box{
    padding-top: 20px;
    width: 311px;
    height: 25px;
    color: red;
    text-align: left;
}

.reset-btn{
    float: right;
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: #00BFFF;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #5CD6FF;
}

button:active {
    position: relative;
    top:1px;
}
